apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-yt5a
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-yt5a
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-yt5a
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-yt5a
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-yt5a
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-agos-tenant/rhtap-demo-app/hacbs-test-project-yt5a@sha256:8ae90fafc0c43718e4b647ef9b231100872deec4f106d1cb201955450f228061
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
