apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-yt5a
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-agos-tenant/rhtap-demo-app/hacbs-test-project-yt5a@sha256:4e5fd087831cc23c756612ec22da524029438577b7ade06ab1273cb3919a0683
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
